---
layout: default
---
{% for post in site.posts limit:6 %}
<article>
  <div class="post border">
    <div class="postHeader">
      <h1><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h1>
      <h6>Posted on {{ post.date | date: "%d %B %Y" }}</h6>
    </div>
    <div class=" postContent fromIndex">

      {% if post.image != nil and post.image != "" and post.image != blank %}
      <a href="{{ post.url }}"><img class="img-fluid mx-auto d-block mainImg" src="{{ site.baseurl }}{{ post.image }}" alt="{{ post.altAndTitle }}" title="{{ post.altAndTitle }}"></a>
      {% else  %}
      {% endif %}

      <p>{{ post.content | strip_html | truncatewords: 40 }}</p>

      <a class="linkToRight" href="{{ site.baseurl }}{{ post.url }}">Continue reading</a>
    </div>
  </div>
</article>
<br>
{% endfor %}

<a href="{{ site.baseurl }}/archive" class="withoutDecoration bigButton"><button>Older Posts</button></a>
