<head>
  <meta charset="utf-8">
  <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=6.0">
  <meta name="description" content="Personal blog from JulianGR">
  <meta name="author" content="JulianGR">
  <title>JulianGR's blog</title>

  <!-- Facebook integration -->
  <meta property="og:title" content="JulianGR's blog">
  <meta property="og:url" content="{{ page.url | prepend: site.baseurl | prepend: site.url }}">
  <meta property="og:type" content="article">
  <meta property="og:site_name" content="JulianGR's blog">
  <meta property="og:description" content="Personal blog from JulianGR">

  <!-- Twitter integration -->
  <meta name="twitter:card" content="summary">
  <meta name="twitter:title" content="JulianGR's blog">
  <meta name="twitter:url" content="{{ page.url | prepend: site.baseurl | prepend: site.url }}">
  <meta name="twitter:description" content="Personal blog from JulianGR">

  <meta property="profile:first_name" content="Julian" />
  <meta property="profile:last_name" content="Gomez" />
  <meta property="profile:username" content="JulianGR" />

  <link rel="canonical" href="https://juliangr.github.io/">

  <!--[if lt IE 9]>
<script src="https://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->

  <link rel="icon" href="{{site.baseurl}}/assets/img/favicon-32.ico" sizes="32x32">
  <link rel="icon" href="{{site.baseurl}}/assets/img/favicon-128.ico" sizes="128x128">
  <link rel="icon" href="{{site.baseurl}}/assets/img/favicon-192.ico" sizes="192x192">

  <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/reset.css">

  <!-- Bootstrap CSS CDN -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <!-- Bootstrap CSS local fallback -->
  <script>
    var test = document.createElement("div")
    test.className = "hidden d-none"

    document.head.appendChild(test)
    var cssLoaded = window.getComputedStyle(test).display === "none"
    document.head.removeChild(test)

    if (!cssLoaded) {
      var link = document.createElement("link");

      link.type = "text/css";
      link.rel = "stylesheet";
      link.href = "{{site.baseurl}}/assets/fallback/css/bootstrap.min.css";

      document.head.appendChild(link);
    }
  </script>

  <!-- Google Fonts CDN -->
  <link href="https://fonts.googleapis.com/css?family=Montserrat:700&display=swap" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css?family=Arimo:400,700,400italic,700italic&display=swap" rel="stylesheet"/>
  <!-- Google Fonts local fallback -->
  <script>
    var test = document.createElement("div")
    test.className = "hidden d-none"

    document.head.appendChild(test)
    var cssLoaded = window.getComputedStyle(test).display === "none"
    document.head.removeChild(test)

    if (!cssLoaded) {
      var link = document.createElement("link");

      link.rel = "stylesheet";
      link.href = "{{site.baseurl}}/assets/fallback/fonts/monstserrat/montserrat.css";

      document.head.appendChild(link);

      var link = document.createElement("link");

      link.rel = "stylesheet";
      link.href = "{{site.baseurl}}/assets/fallback/font/arimo/arimo.css";

      document.head.appendChild(link);
    }
  </script>
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/style.css"/>
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/syntaxHighlight.css"/>
</head>
