<!DOCTYPE html>
<html>
<head>
  {% include head.html %}
</head>

<body>
  <div class="container">


    <!-- Header -->

    <header>
      <div class='row'>
        <div class='col'>
          <p style='text-align:center;'>Julián Gómez Rodríguez</p>
        </div>
      </div>
    </header>

        <!-- navbar -->
        <div class='row'>
          <nav class="nav nav-pills nav-fill nav-justified" style='width:100%;'>
            <a class="nav-item nav-link active" href="{{ site.baseurl }}/">Home</a>
            <a class="nav-item nav-link" href="{{ site.baseurl }}/postsList">Posts List</a>
            <a class="nav-item nav-link" href="{{ site.baseurl }}/about">About</a>
          </nav>
        </div>
      </br>
    </br>

    <div class='row'>

      <!-- MAIN -->
      <div class='col-8'>






        {{content}}





      </div>


      <!-- SIDEBAR -->
      <div class='col-4'>

        <!-- Search -->
        <div class='row'>


          <form class='border'>
            <div class="input-group md-form form-sm form-1 pl-0">
              <div class="input-group-prepend">
                <span class="input-group-text lighten-3" id="basic-text1">
                  //TODO: icon magnifier
                  <i class="fas fa-search text-white"
                  aria-hidden="true"></i></span>
                </div>
                <input class="form-control my-0 py-1" type="text" placeholder="Search" aria-label="Search">
              </div>
            </form>


          </div>
        </br>

        <!-- Featured Posts -->
        <div class='row'>
          <div class='border'>
            <div class='postHeader'>
              <p>FEATURED POSTS</p>
            </div>





            <div>
              <a href='al post'><img href='a la imagen en sí'></img></a>
            </div>

          </br>

          <div>
            <a href='al post'><img href='a la imagen en sí'></img></a>
          </div>

        </br>

        <div>
          <a href='al post'><img href='a la imagen en sí'></img></a>
        </div>



      </div>
    </div>


  </div>
</div>
</div>

</br>
<!--footer-->
<footer class='footer'>
  {% include footer.html %}
</footer>

{% include analytics.html %}

<!-- credits to https://github.com/vfeskov/vanilla-back-to-top -->
<script src="https://unpkg.com/vanilla-back-to-top@7.2.1/dist/vanilla-back-to-top.min.js"></script>
<script>addBackToTop({
  diameter: 40,
  backgroundColor: '#ddd',
  textColor: 'red'
})</script>


</body>
</html>
