<!DOCTYPE html>
<html>
<head>
  {% include head.html %}
</head>

<body>
  <div class="container">
    <div class='row'>

      <div class='col'>
        <p style='text-align:center;'>Julián Gómez Rodríguez</p>
      </div>
    </div>
    <div class='row'>

      <nav class="nav nav-pills nav-fill nav-justified" style='width:100%;'>
        <a class="nav-item nav-link active" href="{{ site.baseurl }}/">Home</a>
        <a class="nav-item nav-link" href="{{ site.baseurl }}/index">Index</a>
        <a class="nav-item nav-link" href="{{ site.baseurl }}/archive">Archive</a>
        <a class="nav-item nav-link" href="{{ site.baseurl }}/about">About</a>
      </nav>


    </div>


    <div class='row'>
      <div id="main" role="main">
        {{ content }}
      </div>






    </div>
  </div>
  <footer class='footer'>
    {% include footer.html %}
  </footer>


  {% include analytics.html %}
</body>
</html>
