---
layout: default
comments: true
---
<script>
  document.getElementById("home").classList.remove("buttonActive");
  document.getElementById("archive").classList.remove("buttonActive");
  document.getElementById("about").classList.remove("buttonActive");
</script>
<article>
  <div class="post border">
    <div class="postHeader">
      <h1>{{ page.title }}</h1>
      <h6>Posted on {{ page.date | date: "%d %B %Y" }}</h6>
    </div>


    <div class="postContent">
      <img class="img-fluid mx-auto d-block mainImg" src=".{{ page.image }}" alt="{{ page.altAndTitle }}" title="{{ page.altAndTitle }}">
      <p>{{ content }}</p>
    </div>
  </div>

</article>
<br>

<a href="{{ site.baseurl }}/archive" class="withoutDecoration bigButton"><button>More Posts</button></a>
<br>
{% include disqus.html %}
